@charset "utf-8";

/* typical device breakpoints
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768 px até 992 px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px

paleta de cores
    verde: #49a09d
    lilás: #5f2c82

*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(#5f2c82,#49a09d);
        background-attachment: fixed;
    }

    section#login{
        width: 80vw;
        font-size: 1em;
    }

    section#login h1{
        box-shadow: 1px 1px 3px rgba(134, 134, 134, 0.37);
        background-color: #2ce2dc;
        border: 1px solid rgba(0, 0, 0, 0.521);
        border-radius: 3px 3px;
        display: block;
        margin: auto;
        width: 100px;
        padding: 2px;
        margin-bottom: 10px;
       }

    section#login > #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > #formulario{
        float: right;
        width: 70%;
    }
}


@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(#5f2c82,#49a09d);
        background-attachment: fixed;
    }
    
    section#login{
    width: 950px;
    height: 500px;
    font-size: 1em;
    float: left;
   } 

   section#login > #imagem{
    height: 100%;
    width: 50%;
    float: right;
    
   }
   section#login > #formulario{
    width: 50%;
}

#formulario > h1{
    font-size: 2em;

}

#formulario > p{
    font-size: 1.2em;
}


}

/*
    ANTIGA TELA DIVISÓRIA
    
    section#login{
    width: 950px;
    height: 500px;
    font-size: 1em;
    display: flex;
   } 

   section#login > #imagem{
    height: 100%;
    width: 50%;
    
   }
   section#login > #formulario{
    width: 50%;



*/








/*
 section#login{
    width: 800px;
    height: 400px;
    column-count: 2;
    column-gap: 0px;
    transition-duration: 0.25s;
    font-size: 1em;
   } 

   section#login h1{
    box-shadow: 1px 1px 3px rgba(134, 134, 134, 0.37);
    background-color: #2ce2dc;
    border: 1px solid rgba(0, 0, 0, 0.521);
    border-radius: 3px 3px;
    display: block;
    margin: auto;
    width: 100px;
    padding: 2px;
    margin-bottom: 10px;
   }

   section#login > #imagem{
    column-span: 1;
    height: 400px;
    width: 400px;
    display: inline-block;

    
   }


*/